@using Tamagotchi.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tamagotchi</title>
  </head>
  <body>
    <form action="/pet/add" method="post">
      <label for="name">Enter your Tamagotchi's name</label>
      <input type="text" name="name" id="name">
      <button type="submit" name="button">Add a Tamagotchi!</button>
    </form>
  </body>
</html>
