@using Tamagotchi.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pet List</title>
  </head>
  <body>
    <ul>
      @foreach (Pet pet in Model)
      {
        <li><p>@pet.Name</p>
        <p>@pet.Hunger</p>
        <p>@pet.Thirst</p>
        <p>@pet.Sleep</p></li>
        <form action="/pet/hunger/@pet.Id" method="post">
        <button type="submit" name="button">Feed Food</button>
        </form>
        <form action="/pet/thirst/@pet.Id" method="post">
        <button type="submit" name="button">Drink Water</button>
        </form>
        <form action="/pet/sleep/@pet.Id" method="post">
        <button type="submit" name="button">Put to Bed</button>
        </form>
      }
    </ul>
    <p>this is not updating the server</p>
    <p><a href="/">Add another Tamagotchi</a></p>
    <form action="/pet/time" method="post">
      <button type="submit" name="button">TIME HAS PASSED</button>
    </form>
  </body>
</html>
